@use "../util/functions" as f;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set core body defaults */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-outfit);
  font-size: f.rem(15);
  color: var(--grayishblue);
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove underline for links */
a,
a:visited,
a:active {
  text-decoration: none;
}
